body
	min-width: 320px
	background-color: $colorWhite
	font-family: $roboto
	font-size: 14px
	line-height: 1.4
	color: $colorDark

.out
    position: relative
    max-width: 1920px
    width: 100%
    min-height: 1010px
    margin: 0 auto
    padding-bottom: 60px
    background-color: $colorSilver
    overflow: hidden
    +md
        padding-bottom: 88px
        height: auto
        min-height: 100vh
    +sm
        padding-bottom: 78px

.inner
	max-width: 1710px
	padding: 0 15px
	margin: 0 auto

.inner-s
	max-width: 1510px
	padding: 0 15px
	margin: 0 auto

.title-l
    font-weight: 700
    font-size: 46px
    letter-spacing: 0.01em
    color: $colorDark
    +sm
        font-size: 28px
        line-height: 1.2

.title-m
    font-weight: 700
    font-size: 36px
    letter-spacing: 0.01em
    color: $colorDark
    +sm
        font-size: 24px
        line-height: 1.2

.title-s
    font-weight: 700
    font-size: 26px
    letter-spacing: 0.01em
    color: $colorDark
    +sm
        font-size: 20px
        line-height: 1.2

.title-xs
    font-weight: 500
    font-size: 20px
    letter-spacing: 0.01em
    color: $colorDark
    +sm
        font-size: 18px

.logo
	display: block
	width: 120px
	height: 40px
	font-size: 0
	+sm
		width: 90px
		height: 36px
	svg
		width: inherit
		height: inherit
		fill: $colorWhite

.description
	font-weight: 400
	font-size: 20px
	line-height: 1.6
	color: $colorDark
	+sm
		font-size: 14px
