<footer class="footer">
    <div class="footer__inner inner">
        <div class="footer__row">
            <div class="footer__col footer__col--left">
                <ul class="copyright-list">
                    <li class="copyright-list__item">
                        Copyright © BASF UAB 2019
                    </li>
                    <li class="copyright-list__item">
                        Kilus klausimams, susisiekite: <a class="copyright-list__link" href="tel:8 680 12880">8 680 12880</a>
                    </li>
                    <li class="copyright-list__item">
                        <a class="copyright-list__link" href="#">Privatumo politika</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--right">
                <div class="firm">
                    <div class="firm__text">
                        Sprendimas:
                    </div>
                    <a href="https://www.rinitex.lt/" class="firm__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="67" height="16" viewBox="0 0 67 16" fill="none">
                            <path d="M58.3858 4.91048L57.0198 6.82823L53.9592 2.53296H56.6929L58.3858 4.91048Z" fill-opacity="0.8"/>
                            <path d="M61.4214 9.17151L64.482 13.4668H61.75L60.0571 11.0893L61.4214 9.17151Z" fill-opacity="0.8"/>
                            <path d="M66.2855 0L66.1554 0.181177L65.3663 1.28875L60.5871 8.00085L59.2211 9.91689L54.887 16H52.155L57.8551 7.99915L59.2211 6.0814L63.5536 0H66.2855Z" fill-opacity="0.8"/>
                            <path d="M32.4035 2.53296H29.8701V13.4651H32.4035V2.53296Z" fill-opacity="0.8"/>
                            <path d="M14.6335 2.53296H12.1001V13.4651H14.6335V2.53296Z" fill-opacity="0.8"/>
                            <path d="M24.7707 9.17157L19.3274 2.53296H17.2322V13.4668H19.733V6.82823L25.1935 13.4668H27.2733V2.53296H24.7707V9.17157Z" fill-opacity="0.8"/>
                            <path d="M33.7642 4.59599H37.2681V13.4668H39.8015V4.59599H43.3054V2.53296H33.7642V4.59599Z" fill-opacity="0.8"/>
                            <path d="M52.9406 4.59599V2.53296H44.666L46.0953 4.59599H52.9406Z" fill-opacity="0.8"/>
                            <path d="M53.8769 13.4671H44.666V6.93787H52.2679V8.90689H47.184V11.4365H52.4699L53.0947 12.3373L53.8769 13.4671Z" fill-opacity="0.8"/>
                            <path d="M9.51218 8.60068C9.91519 7.97354 10.1198 7.23978 10.0993 6.49492C10.1171 5.75265 9.91588 5.02155 9.52074 4.39258C9.11569 3.78614 8.54221 3.31093 7.87062 3.02521C7.07261 2.68592 6.21116 2.521 5.34408 2.5415H0L1.42931 4.59598H5.19515C5.95631 4.59598 6.53488 4.76006 6.93087 5.08823C7.32685 5.4164 7.52712 5.8853 7.53169 6.49492C7.54628 6.7588 7.50036 7.02252 7.39742 7.266C7.29449 7.50948 7.13726 7.72628 6.93771 7.8999C6.54059 8.23377 5.96202 8.40013 5.202 8.39899H2.35194L3.74873 10.4261H5.46903L7.58133 13.4668H10.303L7.84665 9.95267C8.52287 9.67531 9.10219 9.20505 9.51218 8.60068Z" fill-opacity="0.8"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
