<section class="gallery">
    <div class="gallery__img">
        <img src="./img/cristmas-tree1.png" alt="Tree">
    </div>
    <div class="gallery__inner inner">
        <div class="gallery__text">
            <h4 class="gallery__title title-s">
                Pasirinkite Jums labiausiai patinkančią Kalėdų dovaną iš mūsų 2020 metų dovanų katalogo.
            </h4>
            <div class="gallery__description description">
                <p>
                    Pasirinktą dovaną atsiųsime tiesiai Jums į namus. Būtinai nurodykite savo adresą ir kontaktinius duomenis kitame lape. Siunčiame Lietuvos teritorijoje.
                    Linksmų Šv. Kalėdų ir laimingų Naujųjų metų!
                </p>
            </div>
        </div>
        <div class="gallery__row">
            <div class="gallery__col">
                <div class="card-product">
                    <div class="card-product__row">
                        <div class="card-product__col card-product__col--left">
                            <div class="slider js-slider-workspace">
                                <div class="slider__wrap owl-carousel owl-theme js-slider-for">
                                    <a href="./img/knife33.jpg"
                                       data-fancybox="gallery-interior1"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife33.jpg" alt="knife33">
                                    </a>
                                    <a href="./img/knife22.jpg"
                                       data-fancybox="gallery-interior1"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife22.jpg" alt="knife22">
                                    </a>
                                    <a href="./img/knife11.png"
                                       data-fancybox="gallery-interior1"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife11.png" alt="knife11">
                                    </a>
                                </div>
                                <div class="slider__nav owl-carousel owl-theme" data-owlNav="owl1">
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife33.jpg" alt="knife33">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife22.jpg" alt="knife22">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife11.png" alt="knife11">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-product__col card-product__col--right">
                            <h3 class="card-product__title title-xs">
                                Virtuvinių peilių rinkinys Kaiser
                            </h3>
                            <div class="card-product__description description">
                                <p>
                                    Peiliai pagaminti iš vokiško plieno, su medine rankena.
                                    Patogiai laikoma rankena ir puikus ašmenų balansas.
                                    Matmenys: 33 cm (20 cm ašmenys) ir
                                    19,5 cm
                                    (8 cm ašmenys)
                                </p>
                            </div>
                            <div class="card-product__btn">
                                <a href="./registration-page.html" type="button" class="btn">Pasirinkti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__col">
                <div class="card-product">
                    <div class="card-product__row">
                        <div class="card-product__col card-product__col--left">
                            <div class="slider js-slider-workspace">
                                <div class="slider__wrap owl-carousel owl-theme js-slider-for">
                                    <a href="./img/beg.png"
                                       data-fancybox="gallery-interior2"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/beg.png" alt="beg">
                                    </a>
                                    <a href="./img/knife22.jpg"
                                       data-fancybox="gallery-interior2"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife22.jpg" alt="knife22">
                                    </a>
                                    <a href="./img/knife11.png"
                                       data-fancybox="gallery-interior2"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife11.png" alt="knife11">
                                    </a>
                                </div>
                                <div class="slider__nav owl-carousel owl-theme" data-owlNav="owl2">
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/beg.png" alt="beg">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife22.jpg" alt="knife22">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife11.png" alt="knife11">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-product__col card-product__col--right">
                            <h3 class="card-product__title title-xs">
                                Kelioninis krepšys Lexon
                            </h3>
                            <div class="card-product__description description">
                                <p>
                                    Dizainas – Luca Artioli iš LEXON®
                                    Krepšys yra juodos spalvos, su papildoma ilga rankena.
                                    Medžiaga: 300D poliesteris / poliuretano pamušalas.
                                    Matmenys: 45 x 30,5 x 23,5 cm
                                </p>
                            </div>
                            <div class="card-product__btn">
                                <a href="./registration-page.html" type="button" class="btn">Pasirinkti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__row">
            <div class="gallery__col">
                <div class="card-product">
                    <div class="card-product__row">
                        <div class="card-product__col card-product__col--left">
                            <div class="slider js-slider-workspace">
                                <div class="slider__wrap owl-carousel owl-theme js-slider-for">
                                    <a href="./img/towel.png"
                                       data-fancybox="gallery-interior3"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/towel.png" alt="towel">
                                    </a>
                                    <a href="./img/knife22.jpg"
                                       data-fancybox="gallery-interior3"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife22.jpg" alt="knife22">
                                    </a>
                                    <a href="./img/knife11.png"
                                       data-fancybox="gallery-interior3"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife11.png" alt="knife11">
                                    </a>
                                </div>
                                <div class="slider__nav owl-carousel owl-theme" data-owlNav="owl3">
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/towel.png" alt="knife33">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife22.jpg" alt="knife22">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife11.png" alt="knife11">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-product__col card-product__col--right">
                            <h3 class="card-product__title title-xs">
                                Rankšluosčių komplektas Hayden
                            </h3>
                            <div class="card-product__description description">
                                <p>
                                    Išskirtinis 4 rankšluosčių komplektas.
                                    Komplektą sudaro
                                    du rankšluosčiai dušui ir du – rankoms.
                                </p>
                                <p>
                                    Sudėtis: 100 % organiškai auginta medvilnė.
                                    Matmenys: 50x70 cm, 65x135 cm.
                                </p>
                            </div>
                            <div class="card-product__btn">
                                <a href="./registration-page.html" type="button" class="btn">Pasirinkti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__col">
                <div class="card-product">
                    <div class="card-product__row">
                        <div class="card-product__col card-product__col--left">
                            <div class="slider js-slider-workspace">
                                <div class="slider__wrap owl-carousel owl-theme js-slider-for">
                                    <a href="./img/purse.png"
                                       data-fancybox="gallery-interior4"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/purse.png" alt="purse">
                                    </a>
                                    <a href="./img/knife22.jpg"
                                       data-fancybox="gallery-interior4"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife22.jpg" alt="knife22">
                                    </a>
                                    <a href="./img/knife11.png"
                                       data-fancybox="gallery-interior4"
                                       class="slider__slide-for js-fancybox">
                                        <img src="./img/knife11.png" alt="knife11">
                                    </a>
                                </div>
                                <div class="slider__nav owl-carousel owl-theme" data-owlNav="owl4">
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/purse.png" alt="purse">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife22.jpg" alt="knife22">
                                        </div>
                                    </div>
                                    <div class="slider__slides">
                                        <div class="slider__slide-nav">
                                            <img src="./img/knife11.png" alt="knife11">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-product__col card-product__col--right">
                            <h3 class="card-product__title title-xs">
                                Nešiojamas įkroviklis ir USB laikmena
                            </h3>
                            <div class="card-product__description description">
                                <p>
                                    USB laikmena 64 GB. Nepraleidžiantis vandens ir dulkių,
                                    apsauga nuo vibracijos. Ypač greita USB 3.1 Gen1 (USB3.0).
                                </p>
                                <p>
                                    Nešiojamas įkroviklis 15000mAh.
                                    Dvi USB jungtis
                                    tam, kad galėtumėte įkrauti du įrenginius vienu metu.
                                </p>
                            </div>
                            <div class="card-product__btn">
                                <a href="./registration-page.html" type="button" class="btn">Pasirinkti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
