<header class="header">
    <div class="header__inner inner">
        <div class="header__row">
            <div class="header__col">
                <a href="./index.html" class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="40" version="1.1" x="0px" y="0px" viewBox="0 0 119.9 43.3" style="enable-background:new 0 0 119.9 43.3;" xml:space="preserve">
                        <path d="M42.9,0.6h12c4.4,0,6.4,2.9,6.4,5.6c0,1.9-0.7,3.2-2.7,4.3c2.5,0.9,3.9,2.6,3.9,5.2c0,3.1-2.3,6.4-7.5,6.4h-12  L42.9,0.6z M49.5,17.3h4.3c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.2-0.6,0.2-0.8  c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.3-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4c-0.2-0.1-0.5-0.1-0.7-0.1h-4.5L49.5,17.3z M49.5,9.1H53  c1.6,0,2.2-0.7,2.2-1.8c0-0.2,0-0.5-0.1-0.7C55,6.4,54.9,6.2,54.7,6c-0.2-0.2-0.4-0.3-0.6-0.3s-0.4-0.1-0.7-0.1h-4L49.5,9.1z"/>
                        <path d="M69.3,0.6h6.9l7.9,21.4H77l-1-3.2h-6.6l-0.9,3.2h-7.1L69.3,0.6z M72.4,7l-1.8,7.2h3.9L72.4,7z"/>
                        <path d="M95.1,7h6.6c0-3.6-2.7-7-9.2-7c-7.1,0-9.3,4-9.3,6.8c0,4.6,5.7,5.9,5.9,5.9c0.8,0.3,4.4,1.2,5.3,1.5  c0.8,0.3,1.5,0.9,1.5,1.7c0,1.3-1.5,1.9-2.7,1.9c-0.8,0-3.5-0.3-3.5-3.1h-6.8c0,3.8,2.6,8,9.9,8c8.1,0,9.8-4.8,9.8-7.3  c0-1.2-0.4-2.4-1.1-3.4c-0.7-1-1.7-1.7-2.8-2.1c-1.6-0.7-4.4-1.2-5.7-1.6c-0.7-0.2-3-0.7-3-2.1c0-1.8,3-1.6,2.5-1.6  C93.5,4.6,95.1,5.4,95.1,7"/>
                        <path d="M103.4,0.6h16.5v5.7H110v3.8h8.8v5.4H110v6.6h-6.6L103.4,0.6z"/>
                        <path d="M0,22.1h21.5V0.7H0V22.1z M14.9,15.5H6.6V7.2h8.3V15.5z"/>
                        <path d="M36.3,7.2h-8.3v8.3h8.3V7.2z"/>
                        <path d="M8.1,40.6l-2.2-7.9h0l-2.2,7.9H2.4L0,31.1h1.3L3.1,39h0l2.1-7.8h1.4L8.7,39h0l1.9-7.8h1.3l-2.5,9.4H8.1z"/>
                        <path d="M16.9,40.1c-0.6,0.4-1.2,0.6-1.9,0.6c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1  c-0.1-0.5-0.2-1-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3  c0.5,0,1.1,0.1,1.5,0.4c0.4,0.2,0.7,0.6,1,1c0.2,0.4,0.4,0.8,0.5,1.3c0.1,0.4,0.1,0.9,0.1,1.3h-5.1c0,0.3,0,0.6,0.1,0.9  c0.1,0.3,0.2,0.5,0.4,0.7c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,1,0.2c0.4,0,0.8-0.1,1.2-0.3c0.3-0.2,0.5-0.6,0.6-1h1.1  C17.8,39.1,17.5,39.7,16.9,40.1L16.9,40.1z M16.6,35.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4c-0.2-0.1-0.5-0.2-0.8-0.2  c-0.3,0-0.5,0-0.8,0.2c-0.2,0.1-0.4,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.6c-0.1,0.2-0.2,0.5-0.2,0.7h4C16.8,36.2,16.8,36,16.6,35.7z  "/>
                        <path d="M27.3,34.9c-0.3-0.3-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.2c-0.3,0.1-0.5,0.3-0.7,0.6c-0.2,0.3-0.3,0.5-0.3,0.9  c-0.1,0.3-0.1,0.7-0.1,1c0,0.3,0,0.6,0.1,0.9c0.1,0.3,0.2,0.6,0.3,0.8c0.2,0.2,0.4,0.4,0.6,0.6c0.4,0.2,0.7,0.2,1.1,0.2  c0.4,0,0.8-0.2,1.1-0.4c0.3-0.3,0.5-0.8,0.6-1.2H29c-0.1,0.7-0.4,1.4-0.9,2c-0.6,0.5-1.3,0.7-2.1,0.7c-0.5,0-0.9-0.1-1.4-0.3  c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1c-0.1-0.5-0.2-0.9-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.3-0.8,0.6-1.2  c0.3-0.3,0.6-0.6,1-0.8c0.4-0.2,0.9-0.3,1.4-0.3c0.4,0,0.7,0,1.1,0.1c0.3,0.1,0.6,0.2,0.9,0.4c0.3,0.2,0.5,0.4,0.6,0.7  c0.2,0.3,0.3,0.7,0.3,1.1h-1.1C27.8,35.5,27.6,35.2,27.3,34.9"/>
                        <path d="M30.9,33.7v1.4c0.2-0.5,0.6-0.9,1-1.2c0.5-0.3,1-0.4,1.5-0.4v1.2c-0.4,0-0.8,0.1-1.1,0.2  c-0.3,0.1-0.6,0.3-0.8,0.6c-0.2,0.3-0.3,0.6-0.4,0.9C31,36.8,31,37.1,31,37.5v3h-1.1v-6.8L30.9,33.7z"/>
                        <path d="M39.1,40.1c-0.6,0.4-1.2,0.6-1.9,0.6c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1  c-0.1-0.5-0.2-1-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3  c0.5,0,1.1,0.1,1.5,0.4c0.4,0.2,0.7,0.6,1,1c0.2,0.4,0.4,0.8,0.5,1.3c0.1,0.4,0.1,0.9,0.1,1.3h-5.1c0,0.3,0,0.6,0.1,0.9  c0.1,0.3,0.2,0.5,0.4,0.7c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,1,0.2c0.4,0,0.8-0.1,1.2-0.3c0.3-0.2,0.5-0.6,0.6-1h1.1  C40,39.1,39.7,39.7,39.1,40.1L39.1,40.1z M38.8,35.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4c-0.5-0.2-1.1-0.2-1.6,0  c-0.2,0.1-0.4,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.6c-0.1,0.2-0.2,0.5-0.2,0.7h4C39,36.2,39,36,38.8,35.7"/>
                        <path d="M46.8,40.7c-0.3,0-0.5-0.1-0.7-0.2c-0.1-0.1-0.2-0.2-0.2-0.4c0-0.1-0.1-0.3,0-0.4c-0.3,0.4-0.7,0.6-1.1,0.8  c-0.4,0.2-0.9,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c-0.3-0.1-0.5-0.2-0.7-0.3c-0.2-0.2-0.4-0.4-0.5-0.6c-0.1-0.3-0.2-0.6-0.2-0.9  c0-0.3,0.1-0.7,0.2-1c0.1-0.2,0.3-0.4,0.5-0.6c0.2-0.2,0.5-0.3,0.7-0.3c0.3-0.1,0.6-0.1,0.9-0.2c0.3-0.1,0.6-0.1,0.9-0.1  c0.2,0,0.5-0.1,0.7-0.1c0.2,0,0.4-0.1,0.5-0.3c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2,0-0.3c0-0.2,0-0.4-0.1-0.6  c-0.1-0.1-0.2-0.3-0.4-0.3c-0.1-0.1-0.3-0.1-0.5-0.2c-0.2,0-0.4,0-0.5,0c-0.4,0-0.8,0.1-1.2,0.3c-0.2,0.1-0.3,0.3-0.4,0.4  c-0.1,0.2-0.1,0.4-0.1,0.6h-1.1c0-0.4,0.1-0.7,0.3-1.1c0.2-0.3,0.4-0.5,0.6-0.7c0.3-0.2,0.6-0.3,0.9-0.4c0.4-0.1,0.7-0.1,1.1-0.1  c0.3,0,0.6,0,0.9,0.1c0.3,0,0.6,0.1,0.8,0.3c0.2,0.1,0.4,0.3,0.6,0.6c0.2,0.3,0.2,0.6,0.2,1V39c0,0.2,0,0.4,0,0.6  c0,0.1,0.1,0.2,0.3,0.2c0.1,0,0.2,0,0.3,0v0.9C47.3,40.7,47,40.7,46.8,40.7L46.8,40.7z M45.2,37.3c-0.2,0.1-0.5,0.1-0.7,0.1  l-0.8,0.1c-0.2,0-0.5,0.1-0.7,0.2c-0.2,0.1-0.4,0.2-0.5,0.4c-0.1,0.2-0.2,0.4-0.2,0.7c0,0.2,0,0.3,0.1,0.5c0.1,0.1,0.2,0.2,0.3,0.3  c0.1,0.1,0.3,0.1,0.4,0.2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.6,0,0.9-0.2c0.2-0.1,0.5-0.2,0.6-0.4c0.2-0.1,0.3-0.3,0.4-0.5  c0.1-0.2,0.1-0.3,0.1-0.5v-1.1C45.6,37.2,45.4,37.3,45.2,37.3"/>
                        <path d="M51.7,33.7v1h-1.4V39c0,0.1,0,0.2,0,0.3l0.1,0.2c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.3,0,0.4,0h0.5v1h-0.9  c-0.2,0-0.5,0-0.7-0.1c-0.2,0-0.4-0.1-0.5-0.2c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1-0.2-0.1-0.5-0.1-0.8v-4.3h-1.2v-1h1.2v-2h1.1v2  L51.7,33.7z"/>
                        <path d="M57.7,40.1c-0.6,0.4-1.2,0.6-1.9,0.6c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1  c-0.1-0.5-0.2-1-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3  c0.5,0,1.1,0.1,1.5,0.4c0.4,0.2,0.7,0.6,1,1c0.2,0.4,0.4,0.8,0.5,1.3c0.1,0.4,0.1,0.9,0.1,1.3h-5.1c0,0.3,0,0.6,0.1,0.9  c0.1,0.3,0.2,0.5,0.4,0.7c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,1,0.2c0.4,0,0.8-0.1,1.2-0.3c0.3-0.2,0.5-0.6,0.6-1h1.1  C58.6,39.1,58.3,39.7,57.7,40.1L57.7,40.1z M57.5,35.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4c-0.5-0.2-1.1-0.2-1.6,0  c-0.2,0.1-0.4,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.6c-0.1,0.2-0.2,0.5-0.2,0.7h3.9C57.6,36.2,57.6,36,57.5,35.7z"/>
                        <path d="M68.1,34.9c-0.3-0.3-0.7-0.4-1.1-0.4c-0.4,0-0.7,0.1-1,0.2c-0.3,0.1-0.5,0.3-0.7,0.6c-0.2,0.3-0.3,0.5-0.3,0.9  c-0.1,0.3-0.1,0.7-0.1,1c0,0.3,0,0.6,0.1,0.9c0.1,0.3,0.2,0.6,0.3,0.8c0.2,0.2,0.4,0.4,0.6,0.6c0.3,0.1,0.6,0.2,0.9,0.2  c0.5,0,0.9-0.1,1.3-0.4c0.3-0.3,0.5-0.8,0.6-1.2h1.1c-0.1,0.7-0.4,1.4-0.9,2c-0.6,0.5-1.3,0.7-2.1,0.7c-0.5,0-0.9-0.1-1.4-0.3  c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1c-0.1-0.5-0.2-0.9-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.3-0.8,0.6-1.2  c0.3-0.3,0.6-0.6,1-0.8c0.4-0.2,0.9-0.3,1.4-0.3c0.4,0,0.7,0,1.1,0.1c0.3,0.1,0.6,0.2,0.9,0.4c0.3,0.2,0.5,0.4,0.6,0.7  c0.2,0.3,0.3,0.7,0.3,1.1h-1.2C68.5,35.5,68.3,35.2,68.1,34.9"/>
                        <path d="M72.1,31.1v3.6c0.1-0.2,0.2-0.4,0.4-0.6c0.2-0.1,0.4-0.3,0.6-0.4c0.2-0.1,0.4-0.2,0.6-0.2  c0.2,0,0.4-0.1,0.6-0.1c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.5,0.3,0.7,0.5c0.2,0.2,0.3,0.5,0.4,0.8c0.1,0.3,0.1,0.7,0.1,1v4.5h-1.1  v-4.6c0-0.2,0-0.4-0.1-0.5c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.1-0.5-0.1c-0.3,0-0.6,0-0.9,0.2  c-0.2,0.1-0.5,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.7c-0.1,0.3-0.1,0.6-0.1,0.9v3.9H71v-9.4H72.1z"/>
                        <path d="M83.1,40.1c-0.6,0.4-1.2,0.6-1.9,0.6c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.6-1.1  c-0.1-0.5-0.2-1-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.1-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3  c0.5,0,1.1,0.1,1.5,0.4c0.4,0.2,0.7,0.6,1,1c0.2,0.4,0.4,0.8,0.5,1.3c0.1,0.4,0.1,0.9,0.1,1.3h-5.1c0,0.3,0,0.6,0.1,0.9  c0.1,0.3,0.2,0.5,0.4,0.7c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,1,0.2c0.4,0,0.8-0.1,1.2-0.3c0.3-0.2,0.5-0.6,0.6-1h1.1  C84,39.1,83.6,39.7,83.1,40.1L83.1,40.1z M82.8,35.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.4c-0.2-0.1-0.5-0.2-0.8-0.2  c-0.3,0-0.5,0-0.8,0.2c-0.2,0.1-0.4,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.6c-0.1,0.2-0.2,0.5-0.2,0.7H83C83,36.2,82.9,36,82.8,35.7z"/>
                        <path d="M86.3,33.7v1h0c0.2-0.4,0.6-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.8,0.1,1.1,0.3  c0.2,0.1,0.3,0.2,0.5,0.4c0.1,0.2,0.2,0.3,0.3,0.5c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.2-0.3c0.3,0,0.6,0,0.9,0.1  c0.3,0.1,0.5,0.2,0.7,0.3c0.2,0.2,0.4,0.4,0.5,0.6c0.1,0.3,0.2,0.6,0.2,0.9v5h-1.1v-4.5c0-0.2,0-0.4-0.1-0.6c0-0.2-0.1-0.3-0.2-0.5  c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.4-0.1-0.7-0.1c-0.2,0-0.5,0-0.7,0.1c-0.2,0.1-0.4,0.2-0.6,0.4c-0.2,0.2-0.3,0.4-0.4,0.6  c-0.1,0.2-0.1,0.4-0.1,0.7v4.3h-1.1v-4.5c0-0.2,0-0.4-0.1-0.6c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.1-0.2-0.3-0.4-0.3  c-0.2-0.1-0.4-0.1-0.6-0.1c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.2-0.1,0.3-0.1,0.5v4.3  h-1.1v-6.8L86.3,33.7z"/>
                        <path d="M96,31.1h1.1v1.4H96V31.1z M97.1,40.6H96v-6.8h1.1V40.6z"/>
                        <path d="M99.6,39c0.1,0.2,0.2,0.3,0.4,0.4c0.2,0.1,0.4,0.2,0.6,0.2c0.2,0,0.4,0.1,0.7,0.1c0.2,0,0.4,0,0.6,0  c0.2,0,0.4-0.1,0.5-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.2-0.3,0.2-0.5c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.3-0.3  c-0.3-0.2-0.5-0.3-0.8-0.4c-0.3-0.1-0.7-0.2-1.1-0.2c-0.4-0.1-0.7-0.2-1.1-0.3c-0.3-0.1-0.6-0.3-0.8-0.6c-0.2-0.3-0.4-0.7-0.3-1  c0-0.3,0.1-0.6,0.2-0.9c0.2-0.2,0.4-0.4,0.6-0.6c0.3-0.2,0.5-0.3,0.8-0.3c0.3-0.1,0.6-0.1,0.9-0.1c0.4,0,0.7,0,1.1,0.1  c0.3,0.1,0.6,0.2,0.9,0.4c0.3,0.2,0.5,0.4,0.6,0.7c0.2,0.3,0.3,0.7,0.3,1h-1.1c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.1-0.2-0.3-0.4-0.3  c-0.2-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4-0.1-0.6-0.1c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0.1-0.2,0.2-0.3,0.3  c-0.1,0.1-0.1,0.3-0.1,0.5c0,0.2,0.1,0.3,0.2,0.4c0.2,0.1,0.3,0.2,0.5,0.3c0.2,0.1,0.5,0.2,0.7,0.2l0.8,0.2c0.3,0.1,0.6,0.1,0.8,0.2  c0.3,0.1,0.5,0.2,0.7,0.4c0.2,0.1,0.4,0.3,0.5,0.6c0.1,0.3,0.2,0.5,0.2,0.8c0,0.4-0.1,0.7-0.3,1c-0.2,0.3-0.4,0.5-0.7,0.7  c-0.3,0.2-0.6,0.3-0.9,0.4c-0.3,0.1-0.7,0.1-1,0.1c-0.4,0-0.7,0-1.1-0.1c-0.3-0.1-0.6-0.2-0.9-0.4c-0.3-0.2-0.5-0.4-0.6-0.7  c-0.2-0.3-0.3-0.7-0.3-1.1h1.1C99.4,38.6,99.5,38.8,99.6,39"/>
                        <path d="M108.2,33.7v1h-1.4V39c0,0.1,0,0.2,0,0.3l0.1,0.2c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3,0,0.4,0h0.5v1h-0.9  c-0.3,0-0.5,0-0.7-0.1c-0.2,0-0.4-0.1-0.5-0.2c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1-0.2-0.1-0.5-0.1-0.8v-4.3h-1.2v-1h1.2v-2h1.1v2  L108.2,33.7z"/>
                        <path d="M110.3,33.7v1.4c0.2-0.5,0.6-0.9,1-1.2c0.5-0.3,1-0.4,1.5-0.4v1.2c-0.4,0-0.8,0.1-1.1,0.2  c-0.3,0.1-0.6,0.3-0.8,0.6c-0.2,0.3-0.3,0.6-0.4,0.9c-0.1,0.4-0.1,0.8-0.1,1.2v3h-1.1v-6.8L110.3,33.7z"/>
                        <path d="M116.4,42.3c-0.1,0.2-0.3,0.4-0.4,0.6c-0.1,0.1-0.3,0.2-0.5,0.3c-0.2,0.1-0.4,0.1-0.7,0.1c-0.1,0-0.3,0-0.4,0  c-0.1,0-0.3-0.1-0.4-0.1v-1l0.3,0.1c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4,0,0.6-0.2c0.2-0.1,0.3-0.3,0.4-0.5l0.5-1.1l-2.7-6.8h1.3l2,5.6  l1.9-5.6h1.2l-3,7.7C116.7,41.8,116.6,42.1,116.4,42.3"/>
                    </svg>
                </a>
            </div>
            <div class="header__col">
                <div class="timer">
                    <div class="timer__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 5V10.8333H13.75" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="timer__text">
                        <p>
                            Dovaną užsisakyti galite iki: <span>2020.01.12</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
