<section class="promo-code">
    <div class="promo-code__img promo-code__img--left">
        <img src="./img/christmas-tree.png" alt="Tree">
    </div>
    <div class="promo-code__img promo-code__img--right">
        <img src="./img/present.png" alt="Present">
    </div>
    <div class="promo-code__inner inner">
        <div class="box">
            <h1 class="box__title title-l">
                Sveiki atvykę į BASF <span>Kalėdinių dovanų katalogą!</span>
            </h1>
            <div class="box__description description">
                <p>
                    Kviečiame išsirinkti Kalėdų dovaną patiems.
                </p>
                <p>
                    Mūsų švenčių kurjeris ją pristatys tiesiai į namus!
                </p>
            </div>
            <form action="/" class="form js-validForm">
                <div class="form__item form__item--mod">
                    <input type="text" class="form__input js-validInput" maxlength="7" placeholder="Įveskite savo kodą" required>
                    <div class="form__error-text">Įveskite galiojantį kodą</div>
                    <div class="form__description">
                        <p>
                            * kodą rasite ant antviruko.
                        </p>
                    </div>
                    <div class="form__btn">
                        <button class="btn js-submitBtn" type="submit">Tvirtinti</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
