<section class="registration">
    <div class="registration__inner inner-s">
        <div class="registration__row">
            <div class="registration__col registration__col--left">
                <div class="card">
                    <div class="card__status">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
                            <path d="M3.37734 16.3338L12.1524 26.2809L29.5678 5.54524" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h5 class="card__title title-xs">
                        Nešiojamas įkroviklis ir USB laikmena
                    </h5>
                    <div class="card__img">
                        <img src="./img/knife11.png" alt="knife11">
                    </div>
                    <div class="card__description description">
                        <p>
                            USB laikmena 64 GB. Nepraleidžiantis vandens ir dulkių,
                            apsauga nuo vibracijos. Ypač greita USB 3.1 Gen1(USB3.0).
                        </p>
                        <p>
                            Nešiojamas įkroviklis 15000mAh. Dvi USB jungtis
                            tam, kad galėtumėte įkrauti du įrenginius vienu metu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="registration__col registration__col--right">
                <div class="box">
                    <h2 class="box__title title-m">
                        Prašome užpildyti laukelius
                    </h2>
                    <div class="box__description description">
                        <p>
                            Mūsų švenčių kurjeris pristatys Jūsų pasirinktą dovaną
                        </p>
                    </div>
                    <form action="/" class="form form--mod js-validForm">
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Firmos pavadinimas" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Pareigos" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Vardas, Pavardė" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Miestas" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Pristatymo adresas" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="Pašto kodas" required>
                        </div>
                        <div class="form__item">
                            <input type="text" class="form__input js-validInput" placeholder="El. pašto adresas" required>
                        </div>
                        <div class="form__item">
                            <input type="email" class="form__input js-validInput" placeholder="Kontaktinis telefonas" required>
                        </div>
                        <div class="form__btn">
                            <div class="form__btn-left">
                                <a href="./gallery-page.html" class="btn btn--border js-submitBtn" type="submit">Grįžti</a>
                            </div>
                            <div class="form__btn-right">
                                <button class="btn js-submitBtn" type="submit">Pateikti</button>
                            </div>
                        </div>
                    </form>
                    <div class="popup-success js-popupSuccess">
                        <div class="popup-success__wrap animated">
                            <div class="success">
                                <div class="success__icon">
                                    <img src="./img/present.png" alt="present">
                                </div>
                                <h3 class="success__title title-m">
                                    Jūs sėkmingai užsisakėte dovaną!
                                </h3>
                                <div class="success__description">
                                    <p>
                                        Švenčių nykštukai jau pakuoja Jūsų pasirinktą dovaną, o
                                        šventinis kurjeris pristatys ją Jūsų nurodytu adresu.
                                        Dovaną pristatysime per dvi savaites.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
