.box
    width: 100%
    max-width: 1000px
    padding: 87px 145px 125px
    background-color: $colorWhite
    box-shadow: 10px 10px 30px rgba(70, 68, 83, 0.15)
    border-radius: 4px
    +md
        padding: 80px 110px 80px 90px
    +sm
        padding: 30px 20px 40px
        max-width: 600px
    &__title
        margin-bottom: 44px
        line-height: 1.3
        +sm
            margin-bottom: 15px
        span
            display: block
            +sm
                display: inline-block
    &__description
        margin-bottom: 63px
        +md
            margin-bottom: 40px
