.btn
    display: inline-block
    height: 50px
    min-width: 180px
    border: 1px solid $colorRed
    border-radius: 2px
    background-color: $colorRed
    box-shadow: 5px 5px 20px rgba(51, 31, 0, 0.15)
    font-weight: 400
    font-size: 20px
    line-height: 49px
    letter-spacing: 0.02em
    color: $colorWhite
    text-align: center
    text-decoration: none
    transition: background-color .3s, color .3s
    &:hover
        background-color: transparent
        color: $colorRed
        +md
            background-color: $colorRed
            color: $colorWhite
    +md
        min-width: 180px
    +sm
        font-size: 18px
        height: 45px
        line-height: 44px
    &--border
        background-color: transparent
        color: $colorRed
        &:hover
            background-color: $colorRed
            color: $colorWhite
            +md
                background-color: transparent
                color: $colorRed
