.footer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 30px 0
    background-color: $colorDark
    z-index: 2
    +md
        padding: 20px 0
    +sm
        position: fixed
        padding: 12px 0
    &__row
        display: flex
        align-items: center
        justify-content: space-between
        +md
            flex-wrap: wrap
            justify-content: center
    &__col
        +md
            flex: 1 1 100%
        &--left
            +md
                margin-bottom: 6px

.copyright-list
    display: flex
    align-items: center
    +md
        justify-content: center
    &__item
        position: relative
        color: $colorWhite
        +sm
            display: none
            &:first-child
                display: block
        &:first-child
            color: rgba(255, 255, 255, 0.7)
        &:not(:last-child)
            margin-right: 80px
            &::after
                display: block
                content: ''
                position: absolute
                top: 0
                right: -40px
                width: 1px
                height: 20px
                background-color: $colorWhite
            +md
                margin-right: 30px
                &::after
                    right: -15px
            +sm
                margin-right: 0
                &::after
                    display: none
    &__link
        color: $colorWhite
        &:hover
            text-decoration: none

.firm
    display: flex
    align-items: center
    +md
        justify-content: center
    &__text
        margin-right: 6px
        color: $colorWhite
    &__icon
        font-size: 0
        padding: 2px
        &:hover
            svg
                fill: $colorRed
        svg
            fill: $colorWhite
            transition: fill .3s
