.form
    &__item
        position: relative
        margin-bottom: 15px
        &.error
            .form__error-text
                opacity: 1
            .form__input
                border-color: $colorRed
        &--mod
            display: flex
            align-items: center
            margin-bottom: 0
            +sm
                flex-wrap: wrap
    &__input
        width: 100%
        max-width: 490px
        height: 50px
        margin-right: 40px
        background-color: $colorWhite
        box-shadow: 5px 5px 20px rgba(70, 68, 83, 0.15)
        border-radius: 2px
        border-left: 4px solid transparent
        box-sizing: border-box
        padding: 15px 9px 15px 15px
        font-weight: normal
        font-size: 18px
        color: $colorDark
        transition: border-color .3s
        +sm
            margin-right: 0
            max-width: 100%
            font-size: 16px
            height: 45px
            padding: 10px 9px 10px 12px
            border-left: 3px solid transparent
        +placeholder
            font-weight: 400
            font-size: 18px
            line-height: 21px
            color: rgba(70, 68, 83, 0.4)
            +sm
                font-size: 16px
        &:focus
            border-color: rgba(70, 68, 83, 0.9)
    &__error-text
        position: absolute
        top: -30px
        left: 0
        font-size: 14px
        color: $colorRed
        transition: opacity .3s
        opacity: 0
        +sm
            font-size: 11px
            top: -24px
    &__description
        position: absolute
        left: 0
        bottom: -30px
        font-size: 12px
        line-height: 14px
        +sm
            position: static
            margin-top: 10px
            margin-bottom: 5px
            font-size: 10px
    &__btn
        display: inline-block
        font-size: 0
        &-left
            display: inline-block
            padding-right: 10px
            +md
                width: 50%
                .btn
                    width: 100%
                    min-width: 110px
        &-right
            display: inline-block
            padding-left: 10px
            +md
                width: 50%
                .btn
                    width: 100%
                    min-width: 110px
        +sm
            display: block
            width: 100%
            text-align: right
    &--mod
        position: relative
        margin-right: -30px
        font-size: 0
        +md
            margin-right: 0
        .form
            &__item
                display: inline-block
                width: 50%
                margin-bottom: 20px
                padding-right: 30px
                +md
                    width: 100%
                    padding-right: 0
                +sm
                    margin-bottom: 10px
            &__input
                margin-right: 0
                max-width: 100%
            &__btn
                display: block
                margin-top: 18px
                text-align: right
                margin-right: 30px
                +md
                    margin-right: 0
