.gallery
    position: relative
    padding: 92px 0 138px
    +sm
        padding: 55px 0
    &__img
        position: absolute
        width: 100%
        top: 24px
        right: 11.5%
        max-width: 320px
        z-index: 1
        @media (max-width: 1550px)
            right: 20px
        +md
            display: none
        img
            width: 100%
    &__inner
        position: relative
        z-index: 2
    &__title
        margin-bottom: 24px
        @media (max-width: 1550px)
            padding-right: 200px
        +md
            padding-right: 0
        +sm
            font-size: 25px
            text-align: center
            margin-bottom: 15px
    &__description
        margin-bottom: 80px
        font-size: 18px
        max-width: 990px
        +sm
            font-size: 14px
            text-align: center
            margin-bottom: 40px
    &__row
        position: relative
        margin-right: -60px
        font-size: 0
        @media (max-width: 1300px)
            margin-right: -30px
        @media (max-width: 1200px)
            margin-right: -15px
        +sm
            margin-right: 0
            text-align: center
    &__col
        display: inline-block
        width: 50%
        padding-right: 60px
        margin-bottom: 60px
        vertical-align: top
        @media (max-width: 1300px)
            padding-right: 30px
            margin-bottom: 30px
        @media (max-width: 1200px)
            padding-right: 15px
            margin-bottom: 15px
        +sm
            width: 100%
            max-width: 500px
            padding-right: 0
    &__text
        padding-left: 20px
        +sm
            padding-left: 0


.card-product
    width: 100%
    padding: 31px
    border-radius: 4px
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07)
    background-color: $colorWhite
    @media (max-width: 1200px)
        padding: 20px
        min-height: 420px
    &__row
        font-size: 0
    &__col
        display: inline-block
        overflow: hidden
        vertical-align: top
        +md
            width: 100%
        &--left
            width: 47%
            padding-right: 40px
            @media (max-width: 1550px)
                width: 50%
                padding-right: 0
            @media (max-width: 1300px)
                width: 55%
            +md
                margin-bottom: 30px
        &--right
            width: 53%
            padding-right: 35px
            @media (max-width: 1550px)
                width: 50%
                padding-right: 0
                padding-left: 20px
            @media (max-width: 1300px)
                width: 45%
            +md
                padding-left: 0
                text-align: center
    &__title
        margin-top: 54px
        margin-bottom: 25px
        @media (max-width: 1200px)
            margin-top: 0
        +md
            font-size: 18px
        +sm
            margin-bottom: 15px
    &__description
        font-size: 14px
        margin-bottom: 40px
        min-height: 135px
        p
            &:not(:last-child)
                margin-bottom: 12px
                +md
                    margin-bottom: 0
        @media (max-width: 1200px)
            min-height: 80px
            margin-bottom: 20px
        +md
            min-height: 135px
        +sm
            font-size: 13px
            min-height: 20px
    &__btn
        text-align: center
        .btn
            +md
                min-width: 180px

.slider
    position: relative
    overflow: hidden
    &__slide-for
        position: relative
        display: block
        max-width: 288px
        text-align: center
        margin-bottom: 14px
        +md
            margin: 0 auto 14px
        img
            display: inline-block
            max-width: 100%
            max-height: 291px
        &::before
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            width: 40px
            height: 40px
            content: ''
            border-radius: 10px
            background-color: rgba($colorBlack,.5)
            opacity: 0
            transition: opacity .3s
            cursor: pointer
        &::after
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            width: 20px
            height: 20px
            content: ''
            background-image: url(../img/search.svg)
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: cover
            opacity: 0
            transition: opacity .3s
            cursor: pointer
        &:hover
            &::before,
            &::after
                opacity: 1
        +sm
            &::before,
            &::after
                left: 50%
        +xs
            min-height: auto
    &__nav
        width: 100%
        +md
            text-align: center
            max-width: 290px
            margin: 0 auto
    &__slide-nav
        position: relative
        width: 89px
        height: 89px
        border-radius: 1px
        border: 1px solid transparent
        background-color: $colorWhite
        cursor: pointer
        transition: border-color .3s
        overflow: hidden
        font-size: 0
        text-align: center
        @media (max-width: 1200px)
            width: 70px
            height: 70px
        img
            display: inline-block
            max-width: 100%
        +sm
            display: inline-block
            line-height: 70px
            margin-bottom: 0
            width: 70px
            height: 70px
            img
                max-width: 70px
                height: 70px
                vertical-align: middle
        &::after
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            border-radius: 1px
            content: ''
            background-color: rgba($colorWhite,.5)
            opacity: 1
            transition: opacity .3s
    .owl-item.active.current
        .slider__slide-nav
            border-color: rgba(70, 68, 83, 0.5)
            &::after
                opacity: 0

[data-fancybox-thumbs]
    display: none
