.header
    padding: 20px 0
    background-color: $colorRed
    +sm
        padding: 15px 0
    &__row
        display: flex
        align-items: center
        justify-content: space-between

.timer
    display: flex
    align-items: center
    &__icon
        margin-right: 10px
        font-size: 0
    &__text
        color: $colorWhite
        +xs
            font-size: 12px
        span
            font-weight: 500
            line-height: 1.2
            +xs
                margin-top: 2px
                display: block
