.promo-code
    position: relative
    &__inner
        position: relative
        padding: 150px 15px
        display: flex
        align-items: center
        justify-content: center
        z-index: 2
        +sm
            padding: 38px 15px 75px
    &__img
        position: absolute
        width: 100%
        z-index: 1
        +md
            display: none
        &--left
            top: 60px
            left: 0
            max-width: 257px
        &--right
            max-width: 468px
            right: -240px
            bottom: 20px
            transform: rotate(-20deg)
        img
            width: 100%

