.registration
    padding: 130px 0 120px
    +sm
        padding: 38px 0 75px
    &__row
        display: flex
        justify-content: space-between
        +sm
            flex-wrap: wrap
    &__col
        +sm
            flex: 1 1 100%
        &--left
            flex: 1 1 30%
            margin-right: 30px
            max-width: 440px
            +lg
                flex: 1 1 35%
            +md
                min-width: 300px
            +sm
                min-width: 250px
                margin-right: 15px
            +sm
                margin: 0 auto 15px
        &--right
            flex: 1 1 70%
            max-width: 870px
            +lg
                flex: 1 1 65%
            +sm
                max-width: 440px
                margin: 0 auto
        .box
            position: relative
            padding: 67px 80px
            border-radius: 2px
            +md
                padding: 35px 40px
            +sm
                padding: 25px 20px
                margin: 0 auto
            &__title
                margin-bottom: 14px
                text-align: center
            &__description
                margin-bottom: 26px
                font-size: 18px
                text-align: center
                +sm
                    font-size: 14px

.card
    position: relative
    padding: 40px 40px 35px
    border-radius: 2px
    background-color: $colorWhite
    box-shadow: 5px 5px 40px rgba(70, 68, 83, 0.15)
    +md
        padding: 35px 40px
    +sm
        padding: 25px 20px
    &__status
        position: absolute
        top: -20px
        right: -20px
        width: 60px
        height: 60px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        background-color: $colorGreen
        font-size: 0
        +sm
            top: -12px
            right: -12px
            width: 40px
            height: 40px
            svg
                width: 17px
                height: 16px
    &__title
        margin-bottom: 19px
    &__img
        padding: 20px
        margin-bottom: 15px
        +sm
            padding: 0 15px
        img
            width: 100%
    &__description
        position: relative
        margin-right: -10px
        font-size: 14px
        letter-spacing: 0
        p
            &:not(:last-child)
                margin-bottom: 10px

.popup-success
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $colorWhite
    &__wrap
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        box-shadow: 10px 10px 30px rgba(54, 51, 64, 0.3)
        &.animated
            animation: modal-show .3s
    +sm
        &.border-line
            &::before,
            &::after
                display: none

.success
    display: inline-block
    width: 100%
    max-width: 675px
    padding: 0 40px
    text-align: center
    +sm
        padding: 0 30px
    &__title
        margin-bottom: 40px
        color: $colorDark
    &__icon
        display: inline-block
        margin-bottom: 20px
        margin-right: -40px
        max-width: 250px
        font-size: 0
        transform: rotate(-15deg)
        img
            width: 100%
    &__description
        font-weight: 400
        font-size: 18px
        letter-spacing: 0.01em
        color: $colorDark
        margin-bottom: 30px
        +sm
            font-size: 14px
